<header class="main-header">
    @* BEGIN Logo *@
    <a href="@Url.Action("Index", "Home")" class="logo">
        @* Mini logo for sidebar 50x50 pixels *@
        <span class="logo-mini"><b>e</b>TK</span>
        @* Logo for regular state and mobile devices *@
        <span class="logo-lg">e-Tracking</span>
    </a>
    @* END Logo *@
    @* BEGIN Header *@
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                @* BEGIN Messages *@
                @* END Messages *@
                @* BEGIN Notifications *@
                @* END Notifications *@
                @* BEGIN Tasks *@
                
                @* END Tasks *@
                @* BEGIN User Account Menu *@
                <li class="dropdown user user-menu">
                    <a href="#" >
                        <img src="~/Content/img/user.jpg" class="user-image" alt="User Image">
                        <span class="hidden-xs">IRPC User</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>